body {
    background-color: #21262E;
    color: white;
    font-family: 'Brush Script MT', cursive;
    display: flex;
    flex-direction: column;
}

input[type="submit"]{
    font-family: 'Brush Script MT', cursive;
    font-size: 1rem;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: #FFFFFF;
}

input[type="text"]{
    width: 210px;
    height: 24px;
    font-family: 'Brush Script MT', cursive;
    font-size: 1rem;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

input[type="date"]{
    width: 210px;
    height: 24px;
    font-family: 'Brush Script MT', cursive;
    font-size: 1rem;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

input[type="submit"]:hover{
    opacity: 0.6;
}

#form{
    display: flex;
}

#form-input{
    flex: 1 1 0%;
    background-color: #0D0002;
    border-radius: 1rem;
    color: #FFFFFF;
    height: 47px;
}

#form-submit{
    font-size: 1.2rem;
    background-color: #0D0002;
    border-radius: 1rem;
    margin-left: 6px;
    margin-top: 10px;
    width: 65px;
    height: 35px;
}

#form-important{
    font-size: 2rem;
    width: 30px;
    color: #FFFFFF;
    background-color: #0D0002;
    border-radius: 0.6rem;
    margin-left: 6px;
}

#form-deadline{
    height: 47px;
    background-color: #0D0002;
    border-radius: 1rem;
    color: #FFFFFF;
    width: 110px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
}

#form-title{
    color: #FFFFFF;
    background-color: #0D0002;
    border-radius: 1rem;
    height: 47px;
}

header{
    padding: 1.5rem;
}

#form-container{
    text-align: center;
    margin-top: 10px;
}


#title{
    padding: 0rem 1.5rem 0rem;
    text-align: center;
    margin-top: 10px;
}


main{
    padding: 1rem;
}

#container{
    height: 500px;
}

#task-title{
    background-color: #1202F2;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
}

#task-title-text{
    padding: 0.5px 10px 0px;
    display: flex;
    justify-content: space-between;
}

#task-title-text-input{
    height: 40px;
    font-size: 24px;
    color: #FFFFFF;
    flex: 1 1 0%;
}

#task{
    border-radius: 1rem;
    padding: 1rem;
    background-color: #F20226;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#task-test{
    flex: 1 1 0%;
}

#task-date{
    width: 110px;
    font-size: 1rem;
    color: #FFFFFF
}

#actions{
    padding: 0;
    margin: 0;
    display: block;   
}